---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>SprytnaMeditation</title>
    <style is:global>
      html, body { height: 100%; }
      body { overflow: hidden; }
      #root { display: flex; height: 100%; flex: 1; }
    </style>
    <link rel="icon" href="/demo/meditation-timer/favicon.ico" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script is:inline src="/demo/meditation-timer/_expo/static/js/web/index-0ba4b9e60b4ae60b07d817a7b14d321f.js" defer></script>
  </body>
</html>
