---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import IndexHeroImage from '../assets/pages/hero-index.png';
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 0px;
			}
		</style>
	</head>
	<body>
		<Header />
				<div class="hero-image">
					{IndexHeroImage && <Image layout="constrained" width={1600} height={300} src={IndexHeroImage} alt="" />}
				</div>
		<main>
			<p class="text-gray-600" style="margin-bottom: 1em"<i>Personal Site of </i></p>
			<h2 class="" style="margin-bottom: 0">Michael Kumm</h2>
			<p class="text-gray-600"><i>(aka mkumm)</i></span></p>
			<p>Most of my available time is spent: <i>programming</i>, <i>solo projects</i> and <i>experiments</i>, <i>reading and learning new things</i>,
				and enjoying Krakow!</p>
				<p>Most of my professional time is spent programming in <b>Elixir</b> and <b>Phoenix</b>.
			</p>

			<article>
			<p>My <a href="/blog">Blog</a> is mostly technical and related topics like <a href="/blog/first-hops-with-rabbitmq/">First Hops With RabbitMQ</a> and
		<a href="/blog/when-hobby-project-breaks/">When a Hobby Project Breaks</a>.
		</p>
			</article>

		<article>
			<p><a href="/shorts">Shorts</a> is more random twitter(x)-like posts. <a href="/shorts/20250621a-affogato/">Where to get great affogato in Krakow</a> and <a href="/shorts/20250822a-building-grit/">my experiments on building <i>Grit</i> for example</a>.
		</p>
			</article>

		<article>
			<p>My <a href="/now">Now Page</a> is inspired from <a href="https://sive.rs/">Derek Siver's</a> <a href="https:/nownownow/about">Now Pages</a>, a short summary on what is current in my life.
		</p>
			</article>

		<article>
			<p>I am working on some loosely coupled ideas on creating personal fundamental change I label as <b>99 <i>x</i> of</b> that will go live on September 1.
			</p>
		</article>

		<hr class="pt-3 pb-6"/>
		<p class="text-sm text-gray-600 center">All photos on the site are my own, available through creative commons license. DM me on <a href="https://x.com/mkumm">twitter</a> or <a href="https://www.instagram.com/mkumm/">instagram</a> for better versions. </p>

		</main>
		<Footer />
	</body>
</html>
