---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import IndexHeroImage from '../assets/pages/hero-index.png';
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
				<div class="hero-image">
					{IndexHeroImage && <Image layout="constrained" width={1600} height={300} src={IndexHeroImage} alt="" />}
				</div>
		<main>
			<h1 class="">Personal Site of Michael Kumm</h1>
			<p>Most of my available time is spent programming, solo projects, learning new things, and enjoying Krakow.
				Most of my professional time is spent programming in Elixir/Phoenix/Tailwind.
			</p>
			<p>I have a few posts here, the rest of the posts are <a href="/blog">here</a></p>


		</main>
		<Footer />
	</body>
</html>
