---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import IndexHeroImage from "../assets/pages/hero-index.png";
import { Image } from "astro:assets";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import PersonLink from "../components/PersonLink.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.hero-image {
				width: 100%;
				max-width: 100vw;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 0px;
				width: 100%;
				height: auto;
				max-height: 300px;
				object-fit: cover;
			}
			@media (max-width: 720px) {
				.hero-image img {
					max-height: 160px;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<div class="hero-image">
			{
				IndexHeroImage && (
					<Image src={IndexHeroImage} alt="hero image" loading="eager" />
				)
			}
		</div>
		<main>
			<p class="text-gray-600" style="margin-bottom: 1em" <i>
				Personal Site of
			</p>

			<h2 class="" style="margin-bottom: 0">Michael Kumm</h2>
			<p class="text-gray-600"><i>(aka mkumm)</i></p>

			<p>
				I'm a senior software engineer with a deep focus on <strong
					>Elixir</strong
				>, <strong>Phoenix</strong>, and <strong>functional programming</strong
				>—building systems that are scalable, maintainable, and elegant. I enjoy
				bringing ideas to life with <strong>LiveView</strong>, <strong
					>Tailwind</strong
				>, and a growing toolkit around <strong>AI automation</strong>.
				Recently, I've been expanding my expertise into <strong
					>infrastructure</strong
				>, including <strong>AWS</strong> and <strong>CI/CD pipelines</strong>.
			</p>
			<p>
				I like to build things for fun. <a href="https://sprytna.cards"
					><strong>Sprytna.Cards</strong></a
				> is my latest side project—a smart business card platform for real-world
				digital sharing. I also love creating retro-style games with <a
					href="https://www.lexaloffle.com/pico-8.php"
					><strong>PICO-8</strong></a
				>, a playful fantasy (never-existed) console that celebrates creative
				constraints. I spend (too much) time tinkering with my development
				environment—<strong>Neovim</strong>, <strong>shell scripts</strong>,
				etc.
			</p>
			<p>
				Lately, I've been diving deeper into the foundations of computer
				science: <strong
					>parsers, protocols, event sourcing, and low-level systems</strong
				>—even experimenting with building a computer from virtual chips.
			</p>
			<p>
				Outside of computers and books, I split my time between <strong
					>Poland and the U.S.</strong
				>, love <strong>walking and photography</strong>, and keep pushing
				through the challenge of learning <strong>Polish</strong>. I enjoy <strong
					>beer</strong
				> (especially <strong>cask ales</strong>) and have a lifelong
				fascination with <strong>games of chance and probability</strong>—from <strong
					>board</strong
				> to <strong>card games</strong>.
			</p>

			<p>
				My <a href="/blog">Blog</a> is mostly technical and related topics like <a
					href="/blog/first-hops-with-rabbitmq/">First Hops With RabbitMQ</a
				> and
				<a href="/blog/when-hobby-project-breaks/"
					>When a Hobby Project Breaks</a
				>.
			</p>

			<p>
				<a href="/shorts">Shorts</a> is more random twitter(x)-like posts. <a
					href="/shorts/20250621a-affogato/"
					>Where to get great affogato in Krakow</a
				> and <a href="/shorts/20250822a-building-grit/"
					>my experiments on building <i>Grit</i> for example</a
				>.
			</p>

			<p>
				My <a href="/now">Now Page</a> is inspired from <PersonLink
					img_src="/profiles/sivers.png"
					name="Derek Sivers"
					link="https://sive.rs/"
				/>
				<a href="https://nownownow.com/about">Now Pages</a>, a short summary on
				what is current in my life.
			</p>

			<p>
				Let's connect if you're into <strong>Elixir/BEAM</strong>, <strong
					>functional systems</strong
				>, life as an <strong>expat in Europe</strong>, or simply enjoy <strong
					>creating new things</strong
				>.
			</p>

			<hr class="pt-3 pb-6" />
			<p class="text-sm text-gray-600 center">
				All photos on the site are my own, available through creative commons
				license. DM me on <a href="https://x.com/mkumm">twitter</a> or <a
					href="https://www.instagram.com/mkumm/">instagram</a
				> for better versions.
			</p>
		</main>
	</body>
	<Footer />
</html>
