---
import NowHeroImage from '../assets/pages/hero-now.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Now Page"
	description="My NOW page inspired bu Derek Sivers"
	pubDate={new Date('August 25 2025')}
	heroImage={NowHeroImage}
>

	<h2>What I'm Doing Now</h2>
	<p>This is a <a href="https://nownownow.com/about">now page</a>.
		<a href="https://sive.rs/">Derek Sivers</a> has inspired
		<a href="https://nownownow.com/">a growing number of "nowers"</a>
		[to create these. If you have your own site, you should consider adding a <b>Now page</b> too.</p>
	<p>

	<h2>Open Office Hours</h2>
	<p>If you know me - let's catch up! If you don't me, let's meet!</p>

	<div class="w-full mb-6">
  <a href="https://fantastical.app/sprytna/virtual-coffee-30-minutes" class="bg-accent mx-auto  rounded px-3 py-1 mb-6 hover:bg-yellow-100 transition-all"  >
    ☕ Schedule 30-Minute Virtual Coffee
  </a>
</div>

<h2>Working at DraftKings</h2>
<p>
	I'm currently working at <a href="https://www.draftkings.com/">DraftKings</a>, where I get to
	write <b>Elixir</b> for one of the largest online sportsbooks and casinos—two things
	I'm passionate about. I'm fortunate to work with some of the brightest and most supportive
	people in the Elixir community.
</p>

<h2>Poland</h2>

<p>I've been mostly in Kraków, Poland for nearly four years, and I really love it.
	Our apartment is modest, but the location is fantastic—we're just a few hundred yards from a
	beer garden, my gym, a farmer's market, two regular grocery stores, and a tram stop.
	The city center is just 20 minutes away, and cheap round-trip flights put most of Europe
	within easy reach.
	</p>

	<p>I still maintain my home in Michigan and travel back often.</p>

	<h2>Solo Projects - Sprytna</h2>
	<h3>Sprytna Cards</h3>
	<p>

		I was inspired by people building useful little products, so I decided to try it myself.
		In about three months (and under $100), I launched <a href="https://sprytna.cards/">Sprytna.Cards</a>
		 to beta. I'm not sure yet if it can become something people would pay for—but I do have some early
		 adopters who would be genuinely disappointed if it disappeared. That feels like a good start.
	</p>
	<h3>Greenway App</h3>
	<p>Still is private/secure mode, it was built for people (or groups) to track property expenses, especially for rentals.</p>

<h3>AnyOneWillDo</h3>
<p>Just a random picker

<h2>Nauka języka polskiego (Learning Polish)</h2>
<p>
	I'm finally learning to speak Polish. Progress is slow, but I'm really enjoying it.
	If you're also interested in learning Polish, I highly recommend
	<a href="https://e-polish.eu/polish-for-foreigners">Glossa</a> and they work with students worldwide.
	A special thank you to <a href="https://e-polish.eu/en/polish_teachers_online/magdalena_wygladacz">Magdalena</a>,
	my ever patient (and professional) teacher!

</p>

</Layout>
