---
const today = new Date();
---

<footer>
	<div class="text-sm">
	<p><a href="https://creativecommons.org">Creative Commons</a> &copy; {today.getFullYear()} by <a href="https://creativecommons.org">Michael Kumm</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></p>
	<img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" class="inline w-6">
	<img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" class="inline w-6">
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer img {
		display: inline;
		width: 1.5rem;
		margin: 0;
		border-radius: 0;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
