---
import { Image } from 'astro:assets';
import IndexHeroImage from '../../assets/99xof/hero-99xof.png';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import SectionLink from '../../components/SectionLink.astro';
import IndexContent from './index_content.mdx'

const posts = (await getCollection('shorts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.hero-image {
				width: 100%;
				max-width: 100vw;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 0px;
				width: 100%;
				height: auto;
				max-height: 300px;
				object-fit: cover;
			}
			@media (max-width: 720px) {
				.hero-image img {
					max-height: 160px;
				}
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}

			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
        font-size: 1.3rem;
				line-height: 1.0;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
        font-size: 0.8rem;
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}

			@media (max-width: 750px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: left;
				}

			}



		</style>
	</head>
	<body>
		<Header />
    <div class="hero-image">
			{IndexHeroImage && <Image layout="full-width"  src={IndexHeroImage} alt="hero image" loading="eager"/>}
		</div>
		<main class="xof">
			<section>

			<h1 class="">99 <i><span class="cursive">x of </span></i></h1>


      <IndexContent />

      <h2>Chapters</h2>
      <SectionLink label="Introduction" url="" status="not started" />
      <SectionLink label="If you could change on thing..." url="" status="not started" />
      <SectionLink label="Habits &amp; Foundational Change" url="/" status="draft" />
      <SectionLink label="Better grab a pen" url="" status="not started" />
      <SectionLink label="Awareness" url="" status="not started" />
      <SectionLink label="Habit Tracking" url=""status="not started" />
      <SectionLink label="Setting Intent &amp; Calling Your Shot" url="" status="not started" />
      <SectionLink label="Evaluation" url="" status="not started" />
      <SectionLink label="Impulse and Action" url="" status="not started" />
      <SectionLink label="Getting to know yourself" url="" status="not started" />
      <SectionLink label="99 to 100 || 99 to 0" url="" status="not started" />
      </section>
      <section>

      <article>
			<h2>Personal Experiments</h2>
      <div id="personal-experiments">
        <SectionLink label="Building Grit 2025" url="/99xof/building-grit-2025" status="in progress"/>

        </div>
      </div>
      </article>



		</section>
		</main>
		<Footer />
	</body>
</html>
